.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
}

.map {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.map > img {
  max-height: 200px;
}

.continent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--clr-white);
  width: 60%;
}

@media screen and (max-width: 768px) {
  .map {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  .map > img {
    max-height: 100px;
  }

  .continent {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-white);
    width: 50%;
  }
}
